<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ball Ausgabe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h2>Ball Ausgabe</h2>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="jumbotron">
                <h3>Name: {ball1.name}</h3>
                <h3>Durchmesser: {ball1.durchmesser}</h3>
                <h3>Material: {ball1.material}</h3>
                <h3>Volumen: {ball1.volumen}</h3>
            </div>
            <div class="jumbotron">
                <h3>Name: {ball2.name}</h3>
                <h3>Durchmesser: {ball2.durchmesser}</h3>
                <h3>Material: {ball2.material}</h3>
                <h3>Volumen: {ball2.volumen}</h3>
            </div>
            <div class="jumbotron">
                <h3>Name: {ball3.name}</h3>
                <h3>Durchmesser: {ball3.durchmesser}</h3>
                <h3>Material: {ball3.material}</h3>
                <h3>Volumen: {ball3.volumen}</h3>
            </div>
            <div class="jumbotron">
                <h3>Name: {ball4.name}</h3>
                <h3>Durchmesser: {ball4.durchmesser}</h3>
                <h3>Material: {ball4.material}</h3>
                <h3>Volumen: {ball4.volumen}</h3>
            </div>
            <div class="jumbotron">
                <h3>Name: {ball5.name}</h3>
                <h3>Durchmesser: {ball5.durchmesser}</h3>
                <h3>Material: {ball5.material}</h3>
                <h3>Volumen: {ball5.volumen}</h3>
            </div>
            <div class="jumbotron">
                <h3>Name: {ball6.name}</h3>
                <h3>Durchmesser: {ball6.durchmesser}</h3>
                <h3>Material: {ball6.material}</h3>
                <h3>Volumen: {ball6.volumen}</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>